* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(7, 7, 94);
} */

.section0 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.navbar {
    font-weight: 900;
    font-size: 30px;
    color: #922037;
    align-content: center;
    text-align: center;
    background: #98cdff;
    height: 40px;
    width: 60%;
}

.form0 {
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
    margin-top: 25px;
    background: #cdfffe;
}

.user {
    margin-top: 50px;
    color: #922037;
    margin-right: 250px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section1 {
    margin-top: 35px;
    margin-left: 10px;
}

.user1 {
    padding-left: 25%;
    color: rgb(7, 7, 94);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}

.user1 span {
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    width: 200px;
}

/* ------------------------------------------section1 finished--------------------------------------------- */

.personal {
    color: #922037;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.section2 {
    justify-content: space-evenly;
    display: flex;
}

.section2-1 {
    color: rgb(7, 7, 94);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}

.section2-2 {
    padding-top: 18px;
    color: rgb(7, 7, 94);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.section2-1 span {
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    width: 200px;
}

.section2-2 span {

    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    width: 200px;
}

/* ------------------------------------------section2 finished--------------------------------------------- */

.account {
    color: #922037;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.section3 {
    padding-top: 20px;
    color: rgb(7, 7, 94);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}


.section3 span {
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    width: 200px;
}

/* ------------------------------------------section3 finished--------------------------------------------- */


.declaration {
    color: #922037;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.section4 p {
    padding-top: 0px;
    color: rgb(7, 7, 94);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding-left: 10px;
}

.button{
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button button {
    background: #2390f7;
    color: white;
    text-align: center;
    padding: 1px 10px 1px 10px;
    font-weight:700;
    border-color: black;
}

/* ------------------------------------------section4 finished--------------------------------------------- */
/* 
.required::after{
content: "*";
color: red;
font-size: 20px;
} */